<section class="ui raised segment">
    <div class="ui grid">
        <div class="ui ten wide column">
            <div class="ui stacked fluid form segment">
                <form action="/addpoi" method="POST">
                    <h3 class="ui header">Add New POI</h3>
                    <div class="two fields">
                        <div class="field">
                            <label>Name</label> <input type="text" name="name">
                        </div>
                        <div class="field">
                            <label>Description</label> <input type="text" name="description">
                        </div>
                    </div>
                    <div class="field">
                        <label>Category</label> <input type="text" name="category">
                    </div>
                    <div class="field">
                        <label>Location</label> <input type="text" name="location">
                    </div>
                    <div class="field">
                        <label>Link to Image</label> <input type="text" name="image">
                    </div>
                    <button class="ui blue submit button">Add POI</button>
                </form>
                {{> error }}
            </div>
        </div>
        <aside class="ui five wide column">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/48103323112153.560475ca4b671.jpg" class="ui large image">
        </aside>
    </div>
</section>
