<nav class="ui menu">
  <header class="header item"><a href="/"> Oiléain Na hÉireann </a></header>
  <div class="right menu">
  <a class="item" href="/"> About</a>
  <a class="item" href="/signup"> Signup</a>
  <a class="item" href="/login"> Login</a>
  </div>
</nav>