{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <article>
        <div class="ui internally celled grid">
            <div class="row">
                <div class="three wide column">
                    <img class="ui small image" src="images/photo1.jpeg">
                </div>
                <div class="ten wide column">
                    <header class="ui centered huge header"> Irish Islands </header>
                </div>
                <div class="three wide column">
                    <img class="ui small image" src="images/photo3.jpg">
                </div>
            </div>
            <div class="row">
                <div class="three wide column">
                    <img class="ui small image" src="images/photo4.jpg">
                </div>
                <div class="ten wide column">
                    <p> Ireland doesn't stop at its coastline or waterfront.</p>
                    <p> In fact, the ends of the land are only the beginning of an adventure – the springboard from which you can cross the Atlantic Ocean to reach some of the country’s best-kept secrets. There’s nothing quite like standing on an Irish island, gazing out into the Atlantic blueness, feeling the sea breeze on your cheeks and soaking up its magical atmosphere. A visit to these outposts is bound to be an enlivening experience. </p>
                </div>
                <div class="three wide column">
                    <img class="ui small image" src="images/photo5.jpg">
                </div>
            </div>
        </div>
      {{> error }}
    </article>
  </div>
</section>
<section>
    <aside class="six wide column">
        <img class="ui fluid image" src="images/photo2.jpg">
    </aside>
</section>
